body {
  padding-top: 6rem;
  background-color: white;
  color: #000000;
}
.background-4 {
  background-color: #00001a;
  color: #ffffff;
}
/* Chat checa*/
#contenedor
{
  max-width: 800px;
  margin: auto;
}
#conversaciones
{
  height: 200px;
  border: 1px solid #CCC;
  overflow-y: scroll;
}
