.container-portada{
  width: 100%;
  height: 580px;
  position: relative;
  overflow: auto;
  background-image: url(../res/instalaciones.jpg);
  background-size: 300%;
  animation: movimiento 10s infinite linear alternate;

}



.marketing .col-lg-6 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

@keyframes movimiento {
  from{
    background-position: bottom left;
  }to{
    background-position: top right;
  }
}

.capa-gradient{
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(left,black, #0672d0);
  opacity: 0.4;
}
.container-details{
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}
.details{
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 20px;
  left: 20px;
  color: white;
}
.details h1{
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
.details p{
  margin-top: 20px;
  font-size: 20;
}
.detalles button{
  padding: 10px 20 px;
  font-size: 16px;
  background: none;
  border-style: none;
  border: 1px solid white;
  color: white;
  margin-top: 20px;
  transition: background 300 ms;
  cursor: pointer;
}
.details button:hover{
  background:white;
  color:black;
}

.background-4 {
  background-color: #00001a;
  color: #ffffff;
}

footer{
  width: 100%;
  margin-top: :50 px;
}

.zoom
{
  transition: transform .4s;
}
.zoom:hover
{
 transform: scale(1.5);
}
