*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
.contet-all{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.content-img{
  width: 100%;
  height: auto;
  margin: 0px;
  position: relative;
  overflow: hidden;
}

.content-img img{
  width: 100%;
  transition: all 200ms;
}

.content-1{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  background: rgb(26, 26, 26,0.8);
  transform: rotate(45deg);
  margin-top: 1000px;
  margin-left: -400px;
  transition: all 1300ms;
  box-shadow: 0px 1px 10px;
}

.content-2{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  background: rgb(26, 26, 26,0.8);
  transform: rotate(45deg);
  margin-left: -200px;
  margin-top: 1000px;
  transition: all 1200ms;
  box-shadow: 0px 1px 25px;
}

.content-3{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: 1000px;
  transition: all 600ms;
}

.content-img:hover .content-1{
  transition: all 1300ms;
  margin-top: -150px;
}

.content-img:hover .content-2{
  transition: all 1200ms;
  margin-top: -150px;
}

.content-img:hover .content-3{
  width: 100%;
  height: 100%;
  transition: all 600ms;
  margin-top: 0px;
}

.content-img:hover img{
  transform: scale(1.1);
  transition: all 200ms;
  opacity: 0.8;
}

.content-txt{
  position: absolute;
  top: 0;
  width: auto;
  height: auto;
  padding: auto;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.content-txt h2{
  font-size: 30px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 300ms;
}

.content-txt p{
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
  transform: scale(1.5);
  transition: all 300ms;
}

.content-img:hover h2{
  opacity: 1;
  transition: all 300ms;
  transform: scale(1);
}

.content-img:hover p{
  opacity: 1;
  transition: all 300ms;
  transform: scale(1);
}
